body {
    margin: 0px;
    box-sizing: 0px;
    padding: 0px;
    background: rgb(54,94,255);}
.container{
    justify-content: center;
    text-align: center;
}
.container p{
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.icon {
    position: relative;
    top: 1.0rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconft {
    z-index: 2;
    top: 1rem;
}
.myicon {
    position: absolute;
    top: 0.2rem;
    z-index: 1;
    border-radius: 50%;
    height: 120px;
    width: 120px;
}
.quite-container{
    margin-top: 1.3rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.foto-ret {
    margin: 0.5rem;
    padding: 0.3rem;
}

.foto-txt{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.icon-st {
    position: absolute;
    width: 30px;
}
.quite-container p{
    position: absolute;
}
.quite-container a{
    text-decoration: none;
    color: black;
}
footer{
    position: fixed;
    width: 100%;
    bottom: 0px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    border-top: 5px solid;
    border-color: #AABBFF;
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-image: url(/img/desing.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}